.box {
    background-color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 1px solid #ed1c24;
    box-shadow: 1px 1px 2px black;
    padding: 30px;
    margin: auto;
}

.formBox {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 1px solid #ed1c24;
    box-shadow: 1px 1px 2px black;
    padding: 20px;
    margin: auto;
    width: 12%;
    background-color: red;
    color: white;
}

.btn {
    display: block;
    width: auto;
}

button:hover {
    background-color: gray;
}

.button.active {
    background-color: #f44336;
    transform: translateY(1px);
}
.menu {
    text-align: center;
}

input[type="number"] {
    width: 4em;
}

.instruction {
    text-align: left;
    font-size: larger;
    margin-left: 0em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.generalparameters {
    border: 1px solid darkgray;
    box-shadow: 1px 1px 2px black;
    user-select: all;
    background-color: lightgray;
}

a {
    color: black;
    text-decoration: none;
    border: 1px solid red;
}